@font-face {
  font-family: 'ralewayblack';
  src: url('fonts/raleway-black-webfont.eot');
  src: url('fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway-black-webfont.woff2') format('woff2'),
  url('fonts/raleway-black-webfont.woff') format('woff'),
  url('fonts/raleway-black-webfont.ttf') format('truetype'),
  url('fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'ralewaybold';
  src: url('fonts/raleway-bold-webfont.eot');
  src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('fonts/raleway-bold-webfont.woff') format('woff'),
  url('fonts/raleway-bold-webfont.ttf') format('truetype'),
  url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'ralewayregular';
  src: url('fonts/raleway-regular-webfont.eot');
  src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('fonts/raleway-regular-webfont.woff') format('woff'),
  url('fonts/raleway-regular-webfont.ttf') format('truetype'),
  url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'fira_sansbold';
  src: url('fonts/firasans-bold-webfont.eot');
  src: url('fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/firasans-bold-webfont.woff2') format('woff2'),
  url('fonts/firasans-bold-webfont.woff') format('woff'),
  url('fonts/firasans-bold-webfont.ttf') format('truetype'),
  url('fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'fira_sanslight';
  src: url('fonts/firasans-light-webfont.eot');
  src: url('fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/firasans-light-webfont.woff2') format('woff2'),
  url('fonts/firasans-light-webfont.woff') format('woff'),
  url('fonts/firasans-light-webfont.ttf') format('truetype'),
  url('fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'fira_sansmedium';
  src: url('fonts/firasans-medium-webfont.eot');
  src: url('fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/firasans-medium-webfont.woff2') format('woff2'),
  url('fonts/firasans-medium-webfont.woff') format('woff'),
  url('fonts/firasans-medium-webfont.ttf') format('truetype'),
  url('fonts/firasans-medium-webfont.svg#fira_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'fira_sansultralight';
  src: url('fonts/firasans-ultralight-webfont.eot');
  src: url('fonts/firasans-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/firasans-ultralight-webfont.woff2') format('woff2'),
  url('fonts/firasans-ultralight-webfont.woff') format('woff'),
  url('fonts/firasans-ultralight-webfont.ttf') format('truetype'),
  url('fonts/firasans-ultralight-webfont.svg#fira_sansultralight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miriam_fixedregular';
  src: url('fonts/mriamc-webfont.eot');
  src: url('fonts/mriamc-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/mriamc-webfont.woff2') format('woff2'),
  url('fonts/mriamc-webfont.woff') format('woff'),
  url('fonts/mriamc-webfont.ttf') format('truetype'),
  url('fonts/mriamc-webfont.svg#miriam_fixedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
  url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
  url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
  url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url('fonts/montserrat-light-webfont.eot');
  src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/montserrat-light-webfont.woff2') format('woff2'),
  url('fonts/montserrat-light-webfont.woff') format('woff'),
  url('fonts/montserrat-light-webfont.ttf') format('truetype'),
  url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;

}