$mainColor: #1e75ef;
$borderBottom: #ff4;
$headerBorderBottom: 2px solid $borderBottom;
$textColor: #333;
$buttonColor: #1eef98;
$firstLetter: #1eef98;
$footerHover: #75ef1e;
$buttonClear: #f47266;
$tableBorderBottom: #6be311;
$paginatorArrowColor: #4e92f2;
$notFoundMainColor: #d67207;