.page-up-down{
  display:none;
  cursor:pointer;
  width: 55px;
  height: 50px;
  bottom: 35px;
  right: 35px;
  position:fixed;
  z-index: 999;
  border: 1px solid rgba(255,255,255,0.7);
  background-color: rgba($mainColor,0.3);
  transition: background-color ease-in 250ms,
              border-color ease-in 250ms;
  color: #fff;
  font-size: 35px;
  text-align: center;
  line-height: 50px;

  @media all and (min-width: 640px) and (max-width: 978px){
    width: 45px;
    height: 40px;
    bottom: 25px;
    right: 20px;
    font-size: 30px;
    line-height: 40px;
  }

  @media all and (min-width: 320px) and (max-width: 639px){
    width: 35px;
    height: 30px;
    bottom: 20px;
    right: 15px;
    font-size: 25px;
    line-height: 30px;
  }

  &:hover{
    background-color: rgba($mainColor,0.5);
    border: 1px solid rgba($mainColor,0.7);
  }
}
.up{
  display:block;
}
.down{
  display:block;
}