
.swiper-container{
  width: 555px;
  height: 380px;


  @media all and (min-width: 979px) and (max-width: 1023px){

  }
  @media all and (min-width: 640px) and (max-width: 979px){
    width: 480px;
    height: 300px;
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    width: 300px;
    height: 270px;
  }
 .swiper-slide img{
    width: 100%;
    height: auto;
  }
}


div > .swiper-control{
  background-color: rgba(25,25,25,0.1);
  transition: background ease-in 250ms;
  width: 55px;
  height: 100px;
  border-radius: 5px;
}
div > .swiper-control:hover {
  background-color: rgba(25, 25, 25, 0.3);
}

.swiper-button-next,
.swiper-button-prev{
  top: 60%;


  @media all and (min-width: 640px) and (max-width: 979px){
    top: 57%;
    transform: scale(0.8);
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    top: 45%;
    transform: scale(0.7);
  }
}

.swiper-button-next{
  right: 15%;
  @media all and (min-width: 640px) and (max-width: 979px){
    right: 7%;
  }

  @media all and (min-width: 320px) and (max-width: 639px){
    right: 5%;
  }

}
.swiper-button-prev{
  left: 15%;
  @media all and (min-width: 640px) and (max-width: 979px){
    left: 7%;
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    left: 5%;
  }
}
