.social-sidebar{
  & a{
    text-align: center;


  }
  & a i{
    display: block;
    position: fixed;
    left:-45px;
    width: 50px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    font-size: 25px;
    z-index: 500;
    transition: left ease-in 250ms;


    @media all and (min-width: 320px) and (max-width: 639px){
      left:-35px;
      width: 40px;
      line-height: 45px;
      height: 45px;
      font-size: 20px;
    }

    &:hover{
      left: 0;
    }
  }

  & .fa-facebook{
    top: calc(50% - 55px);
    background-color: #39579a;
    border-right: 5px solid #5d7cc3;

    @media all and (min-width: 320px) and (max-width: 639px){
      top: calc(50% - 45px);
      border-right-width: 3px;
    }
  }
  & .fa-google-plus{
    top: 50%;
    background-color: #d73d32;
    border-right: 5px solid #e37a72;

    @media all and (min-width: 320px) and (max-width: 639px){
     border-right-width: 3px;
    }
  }


}