.notfound-wrapper{
  border: 15px solid $mainColor;
  height: 1568px;
  position: relative;
  z-index: 10;
  background: #fff;
}

.notfound{
  height: 765px;
  color: $notFoundMainColor;

  p{
    margin: 0;
  }

  .grumpy{
    position: absolute;
    z-index: 1;
  }
  &-header{
    position: absolute;
    z-index: 10;
    margin: 0;
    font-family: 'fira_sansbold', 'ralewaybold', sans-serif;
    font-size: 100px;
    line-height: 1.3;
    margin-left: 50px;

    span{
      font-size: 150px;
    }
  }

  &-description{
    position: absolute;
    z-index: 10;
    text-align: left;
    max-width: 500px;
    top: 15%;
    left:5%;
    font-size: 45px;
    color: $textColor;
    font-family: 'fira_sansbold', 'ralewaybold', sans-serif;
  }
  .pity{
    position: absolute;
    z-index: 10;
    left: 15%;
    top: 25%;
    font-size: 45px;
    line-height: 1;
    font-family: 'fira_sansbold', 'ralewaybold', sans-serif;
    text-transform: uppercase;
    color: $textColor;
  }

  &-solution{
    max-width: 350px;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 5%;
    font-family: 'ralewayregular', sans-serif;
    font-size: 25px;
    line-height: 1.2;
    color: #fff;

    a{
      color: #fff;
    }
  }
  &-solution-persist{
    position: absolute;
    z-index: 10;
    top:40%;
    left:5%;
    font-size: 20px;
    color: #fff;
    font-family: 'ralewayregular', sans-serif;

    a{
      color: $mainColor;
    }
  }

  .game{
    position: absolute;
    height: 500px;
    top: 50%;
    left: 0;
    right: 0;
    color: #000;
    font-family: 'ralewayregular', sans-serif;
    font-size: 18px;
    line-height: 1.2;

    &-describe{
      max-width: 305px;
    }


    &-field{
      position: relative;
      height: 300px;
      border-bottom: 2px solid #000;

      &-img-container{
        position: relative;
        width: 430px;
        height: 165px;
        top: 136px;
        left: 67%;
      }

      &-mouse{
        position: relative;
        height: 125px;
        width: 125px;
        z-index: 100;
        bottom: -250px;
        left: 50px;
        //end of the game
        /*bottom: 0px;
        left: 900px;*/
      }

    }
  }

}