.table-with-filter{
  max-width: 1050px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: 'fira_sansultralight','montserratlight', sans-serif;
  color: #333;
}

#tablecontainer{

  .table{

    background: #fff;
    overflow: auto;

    @media all and (max-width: 1065px){
      margin-left: 2.5%;
      margin-right: 2.5%;

    }

    .header-row,
    .row {
      list-style: none;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;

      @media all and (min-width: 320px) and (max-width: 640px){
        width: auto;
      }

      li{
         display: inline-block;
         width: 13.42857142857143%;/*divide the remaining width for seven cols*/
         margin: 0;
         padding: 25px 0;
         font-size: 20px;
         text-align: center;
         vertical-align: middle;

        @media all and (min-width: 901px) and (max-width: 1064px){
          font-size: 18px;
        }

        @media all and (max-width: 900px){
          &:first-child{
            display: none;
          }
        }

        @media all and (min-width: 768px) and (max-width: 900px){
          width: 14.25%;
          font-size: 16px;
          padding: 15px 0;
        }

        @media all and (min-width: 641px) and (max-width: 767px){
          width: 14.25%;
          font-size: 15px;
          padding: 10px 0;
        }

        @media all and (min-width: 320px) and (max-width: 640px){
          width: 16%;
          padding: 10px 0;
          padding-left: 1%;
          padding-right: 1%;
          font-size: 13px;


          &:nth-child(7){
            margin-right: 0;
          }

          &:last-child{
          display: none;
        }
        }

       }
      li:first-child{
        width: 6%;/*this field can be less wide*/
      }

    }

    .header-row{
      background: $mainColor;
      padding-top: 10px;
      padding-bottom: 10px;

      &>li{
        color: #fff;

        @media all and (min-width: 320px) and (max-width: 640px){
          width: 14%;
        }
      }
    }

    .table-header{
      font-weight: bold;
      cursor: pointer;
    }


    .row:nth-child(even){
      background-color: #ebe7ff;
    }

    .table-body .row:hover{
      background-color: darken(#ebe7ff,5%);
    }

    .row{
      font-family: 'fira_sanslight', 'montserratlight', sans-serif;
      color: #000;
      border-bottom: 2px solid $tableBorderBottom;

      li{
        padding: 0;

      }
      li:last-child{

        &>img{
          width: 100%;
          height: auto;
        }
      }
    }
  }




}

.filter-container{
  font-size: 0;
  margin-bottom: 10px;

  &:after,
  &:before{
    content: '';
    display: table;
    clear: both;
  }

  &>*{
    float: left;
  }

  .search{
    padding: 9px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1;
    width: 68.3%;
    box-sizing: border-box;
    border: 2px solid rgba(51, 51, 51, 0.25);
    outline: 2px solid transparent;

    @media all and (max-width: 1065px){
      width: 95%;
      margin-bottom: 15px;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
    @media all and (min-width: 320px) and (max-width: 640px){
      font-size: 15px;
    }

    &:focus {
      outline: 1px solid $borderBottom;
      border: 2px solid rgba(51, 51, 51, 0.25);
    }
  }
  .btn-filter{
    padding: 13px 53px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: background ease-in 250ms,
                box-shadow ease-in 100ms;

    @media all and (max-width: 1065px){
      width: 42.5%;
    }

    @media all and (min-width: 320px) and (max-width: 640px){
      font-size: 15px;
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }

    &-search{
      background: $buttonColor;
      margin-right: 10px;

      @media all and (max-width: 1065px){
        margin-right: 10%;
        margin-left: 2.5%;
      }

      @media all and (min-width: 320px) and (max-width: 640px){
        margin-bottom: 10px;
      }

      &:hover{
        background: darken($buttonColor,10%);
      }
      &:active{
        background: $buttonColor;
        box-shadow: inset 0 -5px 0 0 darken($buttonColor,20%);
      }
    }

    &-clear{
      background: $buttonClear;

      @media all and (max-width: 1065px){
        margin-right: 2.5%;
      }

      @media all and (min-width: 320px) and (max-width: 640px){
        margin-bottom: 10px;
      }

      &:hover{
        background: darken($buttonClear,10%);
      }
      &:active{
        background: $buttonClear;
        box-shadow: inset 0 -5px 0 0 darken($buttonClear,20%);

      }
    }
  }



}

#paginator{
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 120px;
  vertical-align: middle;

  @media all and (min-width: 768px) and (max-width: 900px){
    margin-bottom: 100px;
    margin-top: 70px;
  }

  @media all and (min-width: 320px) and (max-width: 640px){
    margin-bottom: 70px;
    margin-top: 50px;
  }

  span{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    color: #4e92f2;
    width: 50px;
    margin: 0 5px;
    cursor: pointer;
    transition: background ease-in 250ms;

    @media all and (min-width: 768px) and (max-width: 900px){
      font-size: 18px;
      height: 30px;
      line-height: 30px;
    }
    @media all and (min-width: 320px) and (max-width: 640px){
      font-size: 16px;
      height: 20px;
      line-height: 20px;
    }
  }
  /*prevent select for span*/
  span,
  .table-header li {
    user-select: none;
  }
  .table-active-page{
    background: lighten($mainColor,35%);
  }
  .previous,
  .next{
    background: $paginatorArrowColor;
    width: 60px;
    color: #fff;
    font-weight: normal;

    @media all and (min-width: 320px) and (max-width: 640px){
      width: 50px;
    }

  }

  .previous:active,
  .next:active{
    background: darken($paginatorArrowColor, 20%);
  }
  .disable{
    opacity: 0.5;
    cursor: not-allowed;

    &:active{
      background: $paginatorArrowColor;
    }
  }

}
