
/*hello block*/
.hello{
  height: 525px;
  padding-top: 60px;

  background: lightskyblue url("../images/content/sky.jpg") no-repeat center;


  &-btn{
    text-transform: uppercase;
    color: #fff;
    background-color: $buttonColor;
    font-size: 24px;
    width: 295px;
    height:65px;
    outline: none;
    border: none;
    transition: background ease-in 150ms;


    a{
      text-decoration: none;
      color: #fff;
    }

    @media all and (min-width: 640px) and (max-width: 768px){
      width: 60%;
    }
    @media all and (min-width: 320px) and (max-width: 639px){
      width: 90%;
      height: 50px;
      font-size: 20px;
    }
    &:hover{
      background: darken($buttonColor,10%);
    }
    &:active{
      background-color: $buttonColor;
      border-bottom: 5px solid darken($buttonColor,20%);
      border-top: 5px solid transparent;

      @media all and (min-width: 320px) and (max-width: 639px){
        border-bottom-width: 3px;
        border-top-width: 3px;
      }
    }
  }

}

/*end hello block*/

/*common rules*/
.section-header{
  display: inline;
  font-size: 45px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 1px 1px 1px $textColor;
  padding-bottom: 10px;
  border-bottom: $headerBorderBottom;

  @media all and (min-width: 481px) and (max-width: 767px){
    font-size: 35px;
    padding-bottom: 10px;
  }
  @media all and (min-width: 320px) and (max-width: 480px){
    font-size: 30px;
    line-height: 1.6;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px $textColor;
  }
}
.section-content{
  max-width: 400px;
  font-size: 25px;
  margin: 82px auto 60px;

  text-shadow: 1px 1px 1px $textColor;
  line-height:41px;


  @media all and (min-width: 640px) and (max-width: 767px){
    font-size: 20px;

    &:first-letter{
      font-size: 30px;
    }
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 30px;

    &:first-letter{
      margin-right: 1px;
      font-size: 25px;
    }
  }

  &:first-letter{
    font-weight: bold;
    color: $firstLetter;
    margin-right: 2px;
    font-size: 40px;
  }

}

.section-block{
  width: auto;
  padding-top: 160px;
  text-align: center;

  @media all and (min-width: 481px) and (max-width: 640px){
    padding-top: 130px;
  }
  @media all and (min-width: 320px) and (max-width: 480px){
    padding-top: 100px;
  }
}

.img{
  max-width: 100%;
  height: auto;
}
/* end of common rules*/


/*works block*/
.works{
  height: 540px;
  position: relative;

  background: lightyellow url("../images/content/code.jpg") no-repeat center;


  &-content{
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;
  }
}
/* end of works*/

/* skills block */
.skills{
  height: 700px;
  max-width: 100%;
  background: lightseagreen url("../images/content/skills-bg.jpg") no-repeat 50% 50%;



  &-header{
    margin-bottom: 110px;
  }
    .skills-content{
      margin: 0;
      margin-top: 110px;
      font-size: 0;
      min-width: 100%;
      text-align: center;

      @media all and (min-width: 320px) and (max-width: 640px){
        margin-top: 60px;
      }

      &-item {
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 10;
        width: 200px;
        height: 227px;
        margin-left: 10%;
        vertical-align: middle;

        &:first-child{
          margin-left:0;
        }



        @media all and (min-width: 641px) and (max-width: 767px){
          width: 165px;

        }

        @media all and (min-width: 320px) and (max-width: 640px){
          width: 160px;
          height: 170px;
          display: block;
          margin: 0 auto;
          padding-bottom: 30px;

          &:first-child{
            margin: 0 auto;
          }
        }

        &-description{
          width: inherit;
          height: inherit;
          position: absolute;
          top: 225px;
          color: #fff;
          font-family: 'miriam_fixedregular', "montserratregular", "Helvetica Neue", Arial, sans-serif;
          line-height: 1.2;
          box-sizing: border-box;
          border-radius: 5%;
          overflow: auto;
          text-overflow: ellipsis;
          padding: 7px;
          padding-top: 10px;
          font-size: 17px;
          opacity: 0;

          transition: opacity ease-in 350ms,
                      transform ease-in 500ms;



          @media all and (min-width: 320px) and (max-width: 640px){
            font-size: 15px;
          }

          &:first-letter{
            color: #fff;
            font-size: 23px;
            font-weight: bold;
            margin-right: 2px;
          }

        }
        &:hover > .skills-content-item-description{
          opacity: 1;
          transform: translateY(-242px);

          @media all and (min-width: 320px) and (max-width: 640px){
            transform: translateY(-232px);
          }
        }
        &:hover > img{
          opacity: 0;
          transform: translateY(-225px);

          @media all and (min-width: 320px) and (max-width: 640px){
            transform: translateY(-232px);
          }
        }

        & img{
          cursor: pointer;
          vertical-align: middle;

          transition: opacity ease-in 350ms,
                      transform ease-in 500ms;
        }
      }

      .skills-html > .skills-content-item-description{
        border: 2px solid rgba(241,101,41,0.85);

        &:first-letter{
          color: rgb(241,101,41);
        }
      }

      .skills-css > .skills-content-item-description{
        border: 2px solid rgba(41,68,224,0.85);

        &:first-letter{
          color: rgb(41,68,224);
        }
      }

      .skills-js > .skills-content-item-description{
        border: 2px solid rgba(138,207,23,0.85);

        &:first-letter{
          color: rgb(138,207,23);
        }
      }
    }



  }
/*end of skills block*/

/*portfolio block*/
.portfolio{
  height: 1430px;
  background: #f1f1f1 url("../images/content/pattern.png");


  @media all and (min-width: 480px) and (max-width: 639px){
    height: 1200px;
  }
  @media all and (min-width: 320px) and (max-width: 479px){
    height:900px;
  }

  &-content-envelope{
    width: 367px;
    height: 150px;
    margin: 0 auto;
    margin-top: 520px;

    @media all and (min-width: 320px) and (max-width: 479px){
      width: 305px;
      height: 10px;
      margin-top: 325px;
    }
  }

  &-content-paper{
    position: relative;
    z-index: 10;
    width: 367px;
    height: 535px;
    margin: 0 auto;
    margin-top: -143px;


    @media all and (min-width: 320px) and (max-width: 479px){
      width: 305px;
      height: 450px;
      margin-top: 0;
    }
    &-resume{
      width: 350px;
      height: 460px;
      position: absolute;
      z-index: 5;
      left: 8px;
      top: -320px;
      box-shadow: 0 0 2px 1px #c0c0c0;

      @media all and (min-width: 320px) and (max-width: 479px){
        width: 295px;
        height: 350px;
      }
    }
  }

  .paper-img-link:hover{
    cursor: url("../images/icons/downloadicon.png") 40 40,crosshair;
  }
  .paper-img{
    position: relative;
    z-index: 20;
  }

  .resume-img{
    position: relative;
    z-index: 10;
  }
}
/* end of portfolio block*/
