.contacts-container {
  margin-top: 50px;
  font-family: 'ralewayregular', sans-serif;
  color: #333;
  padding: 0 100px;
  overflow: hidden;

  @media all and (min-width: 640px) and (max-width: 767px) {
    padding: 0 50px;
  }
  @media all and (min-width: 480px) and (max-width: 639px) {
    padding: 0 15px;
  }
  @media all and (min-width: 320px) and (max-width: 479px) {
    padding: 0 5px;
  }

  h3 {
    line-height: 1;
    margin: 0;
  }

  .contacts-header {
    font-size: 25px;
    color: $mainColor;
    font-family: 'ralewaybold', sans-serif;
    margin-bottom: 18px;

    @media all and (min-width: 480px) and (max-width: 639px) {
      font-size: 20px;
      margin-bottom: 15px;
    }

  }

  .contact-me-info {
    margin-bottom: 40px;
    font-size: 25px;

    @media all and (min-width: 480px) and (max-width: 639px) {
      margin-bottom: 30px;
      font-size: 20px;
    }

    @media all and (min-width: 320px) and (max-width: 479px) {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .sub-header {
    font-family: 'ralewayregular', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;

    @media all and (min-width: 320px) and (max-width: 479px) {
      font-size: 20px;
    }
  }

  .contact-me {
    float: left;

    @media all and (min-width: 320px) and (max-width: 479px) {
      display: block;
      float: none;
    }

    &-header {
      text-align: left;
    }

    div {
      text-align: left;
    }

  }
  .write-me {
    float: right;
    text-align: right;


    input {
      display: inline-block;
      margin: 0;
      padding: 13px;
      box-sizing: border-box;
      line-height: 1;
      text-align: right;
      font-size: 20px;
      border: 1px solid rgba(51, 51, 51, 0.25);
      transition: width ease-in-out 350ms;

      @media all and (min-width: 480px) and (max-width: 639px) {
        font-size: 18px;
        padding: 5px;
      }
      @media all and (min-width: 320px) and (max-width: 479px) {
        font-size: 17px;
        padding: 2px;
      }

      &:focus {
        outline: 2px solid rgba($borderBottom, 0.5);
      }

    }

    textarea {
      padding: 10px;
      font-size: 18px;
      text-align: right;
      box-sizing: border-box;
      border: 1px solid rgba(51, 51, 51, 0.25);
      height: 200px;
      resize: none;
      overflow-y: auto;
      transition: width ease-in-out 350ms;

      &:focus {
        outline: 2px solid rgba($borderBottom, 0.5);
        text-align: left;
      }
    }

    &-name:before,
    &-email:before,
    &-message:before {
      content: '*';
      color: #f25c4e;
      margin-right: 2px;
    }

    &-name + input {
      width: 170px;

      &:focus {
        width: calc(170px + 15%);
      }

      @media all and (min-width: 320px) and (max-width: 479px) {
        width: 120px;

        &:focus {
          width: calc(120px + 20%);
        }
      }

    }
    &-lastname + input {
      width: 200px;
      margin-bottom: 31px;

      &:focus {
        width: calc(200px + 15%);
      }

      @media all and (min-width: 320px) and (max-width: 479px) {
        width: 150px;

        &:focus {
          width: calc(150px + 20%);
        }

      }

    }

    &-email + input{
      width: 250px;

      &:focus{
        width: calc(250px + 15%);
      }
      @media all and (min-width: 320px) and (max-width: 479px) {
        width: 185px;

        &:focus{
          width: calc(185px + 15%);
        }
      }

    }

    &-message + textarea {
      width: 250px;

      &:focus{
        width: calc(250px + 15%);
      }

      @media all and (min-width: 320px) and (max-width: 479px) {
        height: 250px;
        width: 185px;

        &:focus{
          width: calc(185px + 15%);
      }

    }

    }




  }

  .submit-btn {
    display: block;
    position: relative;
    margin-left: 250px;
    margin-bottom: 140px;
    width: 150px;
    height: 78px;
    border: none;

    @media all and (min-width: 640px) and (max-width: 767px){
      width: 100px;
      height: 52px;
    }
    @media all and (min-width: 480px) and (max-width: 639px) {
      width: 80px;
      height: 41px;
      margin-left: 350px;
      margin-bottom: 110px;
    }
    @media all and (min-width: 320px) and (max-width: 479px) {
      margin-left: 70px;
      transform: scale(0.6);
      left: 30px;
      margin-bottom: 75px;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.9);

      @media all and (min-width: 320px) and (max-width: 479px) {
        transform: scale(0.5);
      }
    }
    &:hover {
      opacity: 0.7;
    }

    &-label {
      position: absolute;
      font-size: 35px;
      color: $mainColor;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media all and (min-width: 640px) and (max-width: 767px){
        font-size: 25px;
      }
      @media all and (min-width: 480px) and (max-width: 639px) {
        font-size: 20px;
        font-weight: bold;
      }
      @media all and (min-width: 320px) and (max-width: 479px) {
        font-weight: bold;
      }
    }
  }


}
.tooltip{
  visibility: hidden;
  opacity: 0;
  margin-bottom: 15px;
  font-weight: normal;
  color: lighten(red,10%);
  transition: opacity 0.5s ease-in-out;
}
.tooltip-show{
  opacity: 1;
  visibility: visible;
}