.page-footer{
  background-color: #252525;
  color: #1edeef;
  font-family: 'montserratlight',"Fira Sans Light", sans-serif;
  overflow: hidden;
  padding: 50px;
  padding-top: 120px;

  @media all and (min-width: 979px) and (max-width: 1200px){
    padding-top: 80px;
  }
  @media all and (min-width: 768px) and (max-width: 978px){
    padding: 45px;
    padding-top: 75px;
  }
  @media all and (min-width: 640px) and (max-width: 767px){
    padding: 35px;
    padding-top: 55px;
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    padding: 25px;
    padding-top: 0;
  }

  &-logo{
    float: left;
    margin-top: 15px;
    margin-bottom: 100px;


    @media all and (min-width: 979px) and (max-width: 1200px){

    }

    @media all and (min-width: 768px) and (max-width: 978px){
      transform: scale(0.9);
    }
    @media all and (min-width: 640px) and (max-width: 767px){

      transform: scale(0.8);
    }
    @media all and (min-width: 320px) and (max-width: 639px){
      display: block;
      float: none;
      transform: scale(0.8);
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

}

.footer-content{

  max-width: 65%;
  margin: 0 auto;
  text-align: center;

  @media all and (min-width: 320px) and (max-width: 639px){
    max-width: 85%;
  }

  &-title{
    margin: 0;
    font-size: 35px;

    @media all and (min-width: 320px) and (max-width: 639px){
      font-size: 25px;
    }
  }
  &-text{
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;


    @media all and (min-width: 979px) and (max-width: 1200px){
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 25px;
    }

    @media all and (min-width: 768px) and (max-width: 978px){
      font-size: 14px;
      margin-top: 13px;
      margin-bottom: 23px;
    }
    @media all and (min-width: 640px) and (max-width: 767px){
      font-size: 13px;

    }
    @media all and (min-width: 320px) and (max-width: 639px){
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 15px;
    }

  }

  &-social{

    & ul{
      list-style: none;
      font-size: 0;
      padding: 0;

  }

    & li{
      display: inline-block;
      font-size: 50px;
      margin-right: 20px;

      @media all and (min-width: 979px) and (max-width: 1200px){
        font-size: 40px;
      }
      @media all and (min-width: 640px) and (max-width: 767px){
        font-size: 35px;
      }
      @media all and (min-width: 320px) and (max-width: 639px){
        font-size: 25px;
      }

      &:last-child{
        margin-right: 0;
      }

      & a{
        transition: color ease-in 250ms;
      }
      & a,
      & a:active{
        color: #1edeef;
      }
      & a:hover{
        color: $footerHover;
      }
    }
  }

  & .footer-nav{
    font-size: 15px;
    line-height: 1.2;
    color: inherit;
    overflow: hidden;
    padding: 0;
    margin-top: 30px;
    text-align: center;



    @media all and (min-width: 979px) and (max-width: 1200px){
      font-size: 13px;
    }

    &-list{
      display: block;
      margin: 0 auto;
      float: none;
      padding: 0;
    }

    &-link{
      float: none;
      line-height: 1.5;

    }
    & li{
      display: inline-block;
      float: none;

      &:last-child a:after{
        content: '';
      }
      &:first-child a{
        margin-right: 0;
      }
      @media all and (min-width: 979px) and (max-width: 1060px){
        font-size: 12px;
      }
    }
    & a{
      font-family: 'montserratlight',"Fira Sans Light", sans-serif;
      transition: color ease-in 250ms;

      &:hover{
        color: $footerHover;
      }
      &:after{
        margin-left: 20px;
        content: '  |';

        @media all and (min-width: 320px) and (max-width: 639px){
          content: '';
        }

      }


      @media all and (min-width: 768px) and (max-width: 978px){
        font-size: 11px;
      }
      @media all and (min-width: 640px) and (max-width: 767px){
        font-size: 10px;

      }
      @media all and (min-width: 320px) and (max-width: 639px){
        font-size: 9px;
      }


    }

  }
  .copyright{
    margin-top: 70px;
    margin-bottom: -20px;
    text-transform: uppercase;

    @media all and (min-width: 979px) and (max-width: 1200px){
      font-size: 13px;
    }
    @media all and (min-width: 640px) and (max-width: 767px){
      font-size: 11px;
    }
    @media all and (min-width: 320px) and (max-width: 639px){
      font-size: 8px;
    }
  }
}