.page-header  {

  background-color: $mainColor;
  padding: 14px 50px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: padding ease-in 350ms;

  @media all and (min-width: 640px) and (max-width: 767px){
    padding: 10px 35px;
  }
  @media all and (min-width: 480px) and (max-width: 639px){
    padding: 5px 25px;
  }
  @media all and (min-width: 320px) and (max-width: 479px){
    padding: 0 10px;
  }
}
.main-logo{
  float: left;

  @media all and (min-width: 978px){
    margin-top: -15px;
  }
  @media all and (min-width: 640px) and (max-width: 979px){
    transform: scale(0.95);
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    transform: scale(0.9);
  }
}


.header-fixed{

  padding: 0 40px;
  opacity: 0.8;
  left: 0;
  right: 0;
}


.main-logo-fixed{
  transform: scale(0.7);
}

.nav{

  overflow: hidden;
  margin-top: 17px;
  font-size: 18px;
  line-height: 1;
  color: #fff;

  @media all and (max-width: 979px){
    display: none;
  }

  &-fixed{
    font-size: 16px;
    font-weight: normal;
  }
  &-list{
    float: right;

  }

  &-item{
    list-style: none;
    float: left;
    font-family: 'ralewaybold', sans-serif;

    text-transform: uppercase;
    transition: $animateText;

    &:hover{
      color: mix(#fff,$mainColor,65%);
    }
  }

  &-link{
    display: block;
    text-decoration: none;
    margin-left: 15px;
    color: inherit;
  }
  .active-page{
    padding-bottom: 7px;
    border-bottom: 3px solid #68e310;
  }
}




.side-social{
  position: fixed;
  left: -50px;
  top: 50%;
  border-left: 3px solid #f5f5f5;
  transform: translateY(-50%);
}

.side-social:hover{
  transform: translateX(50px);

}

/*   hamburger  */
.hamburger {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  top: 17px;
  right: 50px;
  cursor: pointer;
  transition: top ease-in 250ms;


  @media all and (min-width: 640px) and (max-width: 979px){
    top: 33px;
    visibility: visible;
  }
  @media all and (min-width: 320px) and (max-width: 639px){
    top: 25px;
    right: 25px;
    visibility: visible;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;

  @media all and (min-width: 320px) and (max-width: 479px){
    width: 25px;
    height: 4px;
    margin: 3px 0;
  }
}

.active .bar1 {
  background-color: #fff;;
  transform: rotate(-45deg) translate(-9px, 6px);

  @media all and (min-width: 320px) and (max-width: 479px){
    transform: rotate(-45deg) translate(-3px, 2px);
  }
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  background-color: #fff;
  transform: rotate(45deg) translate(-8px, -8px);
}



/* end of hamburger */

/* menu overlay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9000;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;

  &-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  & a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    @media all and (min-width: 320px) and (max-width: 479px){
      font-size: 25px;
    }
  }


  & a:hover,
  & a:focus {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
  }


  @media screen and (max-height: 480px) {
    .overlay a {font-size: 20px}
    .closebtn {
      font-size: 40px !important;
      top: 15px;
      right: 35px;
    }
  }


}





