html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
  font: 14px/1.2 'fira_sansultralight', Arial, Verdana, sans-serif;
  color: #fff;
  background: url('../images/content/pattern-table.png');
}

html, body{
    height: 100%;
}

.has-js .is-no-js{
	display: none;
}
.no-js .is-no-js{
	display: block;
}
.is-no-js{

  .message{
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 20px/1.2;
    font-family: "montserratregular", "Helvetica Neue", Arial, sans-serif;
  }
}
.container{
  max-width: 1200px;
}
